.color-text {
  color: #191970;
}

.color-button {
  background-color: #191970;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.color-button:hover {
  color: #191970;
  border: 1px solid #191970;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.input-color {
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: #191970;
  outline: none;
}
